<ion-content class="ion-no-padding">
  <div id="login">
    <!-- Logo -->
    <ion-row>
      <ion-col>
        <img src="assets/img/logo/logo-mailchimp.png" class="logo">
      </ion-col>
    </ion-row>
    <!-- Input Login -->
    <ion-row>
      <ion-col>
        <ion-list class="ion-no-margin">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Login Button -->
    <ion-row>
      <ion-col>
        <ion-button expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <!-- Sing up -->
    <ion-row>
      <ion-col>
        <div>
          <span>Or create a new account.</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
