<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card class="ion-text-center ion-padding" *ngFor="let user of users">
      <ion-row class="ion-justify-content-center">
        <ion-avatar>
          <img [src]="user.avatar" [alt]="user.name + 'avatar'">
        </ion-avatar>
      </ion-row>
      <h2>{{user.name}}</h2>
      <p>{{user.description}}</p>
      <div class="rating">
        <ion-icon *ngFor="let _ of stars(user.rating)" icon="md-star">
        </ion-icon>
      </div>
      <ion-button fill="clear" disabled="true">
        <span class="number-circle">{{user.rating}}</span>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>