<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card class="ion-text-center" ngFor="let user of users">
      <ion-avatar class="">
        <img src="assets/img/avatar/ian-avatar.png" alt="ian avatar">
      </ion-avatar>
      <h2>John Doe</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint atque laboriosam saepe eos quibusdam quos
        mollitia itaque odit necessitatibus dicta nam non delectus expedita magnam amet cupiditate, doloremque qui
        commodi?
      </p>
      <div class="rating">
        <ion-icon icon="md-star"></ion-icon>
        <ion-icon icon="md-star"></ion-icon>
        <ion-icon icon="md-star"></ion-icon>
        <ion-icon icon="md-star"></ion-icon>
        <ion-icon icon="md-star"></ion-icon>
      </div>
      <ion-button clear>
        <span class="number-circle">5</span>
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>